{% extends 'service/base.html' %}
{% load static%}
{% block content%}
    <table class="table table-responsive">
        <tr>
            <th>ID заказа</th>
            <th>Название заказа</th>
            <th>Заказчик</th>
            <th>Фрилансер</th>
            <th>Статус заказа</th>
            <th>Заказ создан</th>
            <th>Дедлайн</th>
        </tr>
        {% for order in processed_orders%}
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.title}}</td>
            <td>{{order.customer}}</td>
            <td>{{order.freelancer}}</td>
            <td>{{order.status}}</td>
            <td>{{order.created_at}}</td>
            <td>{{order.deadline}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock%}